# Archivos de entorno
.env
.env.local
.env.*
!.env.example  # Excepto el archivo de ejemplo

# Archivos de configuración sensible
config.py
secrets.py
*.key
*.pem
*.crt

# PostgreSQL
*.pgdump
*.sql
/dumps/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Entornos virtuales
venv/
ENV/
env/
.benv/
venv*/
.venv/

# IDE/Editores
.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# Sistema operativo
.DS_Store
Thumbs.db
*.log

# Jupyter Notebook
.ipynb_checkpoints

# Testing
.coverage
htmlcov/
.pytest_cache/
/nosetests.xml

# Archivos generados por el usuario
*.bak
*.tmp
*.temp

# Docker
docker-compose.override.yml
docker-data/